[submodule "vendor/ZendFramework"]
	path = vendor/ZendFramework
	url = git://github.com/weierophinney/zf2.git
[submodule "vendor/ZfcUser"]
	path = vendor/ZfcUser
	url = https://github.com/weierophinney/ZfcUser.git
[submodule "vendor/ZfcBase"]
	path = vendor/ZfcBase
	url = https://github.com/weierophinney/ZfcBase.git
